.env

backend/__pycache__/

frontend/build/
frontend/node_modules/
frontend/package-lock.json
frontend//.pnp
frontend/.pnp.js
frontend/coverage

frontend/# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


.venv
backend/.venv


.idea/
*.idea*
delete/
*.xml
*.iml