# FastAPI und Web-Server
fastapi>=0.105.0
uvicorn

# Langchain und verwandte Abhängigkeiten
langchain
langchain_community

# Umgebung und Multipart-Formular-Verarbeitung
python-dotenv>=1.0.0
python-multipart

# Pydantic für Datenschemata
pydantic>=2.9.2

# PDF- und Dokumentenverarbeitung
pypdf

# OpenAI-API-Client
openai>=1.53.0

chromadb